{% extends 'base/main.html' %} {% block content %}

<div class="album bg-light">
  <div class="row">
    {% for post in catlist.posts %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadows">
        {% if post.image%}
        <img class="card-img-top" src="{{post.image.url}}" />
        {% else %}
        <img class="card-img-top" src="" />
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text max-lines">{{post.description}}</p>
          <span class="categoy-tag">{{post.category}}</span>
          <div class="text-center">
            <a
              href="{% url 'post-detail' post.id %}"
              class="btn btn-md btn-outline-secondary"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
