{% extends 'base/main.html' %} {% block content %}

<div class="flex-center">
  <div class="card">
    <h2 class="text-center mt-4">Login</h2>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
        <div>
          <span class="mr-10">Dont' have an account?: </span
          ><a href="{% url 'register' %}">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
