{% extends 'base/main.html' %} {% block content %} {% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" id="msg" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}
<div class="album bg-light">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadows">
        {% if post.image%}
        <img class="card-img-top" src="{{post.image.url}}" />
        {% else %}
        <img class="card-img-top" src="" />
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text max-lines">{{post.description}}</p>
          <span class="categoy-tag">{{post.category}}</span>
          <div class="text-center">
            <a href="{% url 'post-detail' post.id %}" class="btn btn-md btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  setTimeout(() => {
    let msg = document.getElementById("msg");
    let alert = new bootstrap.Alert(msg);
    alert.close();
  }, "1500");
</script>
{% endblock content %}