{% extends 'base/main.html' %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{form.as_p}} {{form.media}}
  <div class="text-center">
    {% if request.resolver_match.url_name == "post-edit" %}
    <button type="submit" class="btn btn-primary">Update</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Create</button>
    {% endif %}
    <a href="{% url 'posts' %}" class="btn btn-secondary">Go back</a>
  </div>
</form>

{% endblock content %}
