{% extends 'base/main.html' %} {% block content %}

<div class="card box-shadows">
  <div class="card-body">
    {% if post.image%}
    <img class="img-thumbnail" src={{post.image.url}} />
    {% else %}
    <img class="img-thumbnail" src="" />
    {% endif %}
    <h1 class="card-title">{{post.title}}</h1>
    <p>{{post.description}}</p>
    <hr />
    <h2>Comments</h2>
    <div class="mb-3">
      <a href="{% url 'add_comment' post.id %}">Add Comment</a>
    </div>
    {% for comment in post.comments.all %}
    <span class="fw-bold">{{comment.name}} - {{comment.created}}</span>
    <p>{{comment.description}}</p>
    {% endfor %}
  </div>
</div>
<div class="text-center mt-4">
  <a href="{% url 'posts-list' %}" class="btn btn-outline-back">Go back</a>
</div>

{% endblock content %}